/** Dark content box **/

section {
  position: relative;
  z-index: 2;
  max-width: 400px;
  background-color: rgba(0,0,0,0.4);
  padding: 2em;
  border-radius: 5px;
  overflow-y: auto;

  &.page {
    display: none;

    &.active {
      display: block;
      animation: appear 0.3s 1 ease;
    }

    @keyframes appear {
      0% {
        transform: translateY(20%) scale(1.1);
        opacity: 0;
      }
      100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
      }
    }
  }
}

/** Special styling for the front page **/

section.welkom {
  h1 {
    margin-top: 3.2em;
  }

  p {
    text-align: center;
  }

  img.logo {
    width: 138px;
    height: 160px;
    position: absolute;
    left: 50%;
    top: 3em;
    margin-left: -69px;
    animation: twirl 2s 1 ease;
  }

  @keyframes twirl {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(1080deg);
    }
  }
}

/** Special styling for the articles page **/

section.artikelen {
  max-width: 800px;
  margin: 3em 0;

  hr {
    color: white;
    margin: 4em;
  }

  p.meta {
    font-style: italic;
    text-align: right;
  }

  figure {
    margin: 1em 0;
    padding: 0;

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 1350px) {
    max-width: 600px;
  }

  @media screen and (max-width: 1150px) {
    max-width: 400px;
  }
}
