/** Typography **/

h1, h2, h3, h4, p, li, blockquote {
  font-family: 'Poiret One', Tahoma, Arial, sans-serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

h1 {
  font-size: 4em;
  margin-top: 0em;
}

h2, h3, h4 {
  font-size: 1.8em;
  margin-top: 0em;
  text-align: left;
}

h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}

p, li, blockquote {
  margin-bottom: 1em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: left;
}

blockquote {
  border-left: 4px solid #525252;
  padding-left: 1em;
  margin: 0;
}

a {
  color: white;

  &:hover {
    color: #dadada;
  }
}
